In [2]:
import pandas as pd

In [3]:
# 리스트로 데이터 프레임 한번에 불러오기
# 양파
root = "/Users/kangtaeyoung/Desktop/python/연어초밥/data/"
dfso = []
year = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
for i in year:
    df = pd.read_csv(root + "양파_%d.csv" % i , encoding = 'utf-8')
    dfso.append(df)

In [4]:
for i in range(11): # 데이터프레임 한번에 전처리
    dfso[i] = dfso[i].replace('-', 0)
    dfso[i] = dfso[i].fillna(method = 'ffill')
    dfso[i] = dfso[i].transpose()
    dfso[i] = dfso[i].fillna(method = 'ffill')

In [5]:
# 2014 : dfs[0] ~ 2024 : dfs[10]
onion2014 = dfso[0]
onion2015 = dfso[1]
onion2016 = dfso[2]
onion2017 = dfso[3]
onion2018 = dfso[4]
onion2019 = dfso[5]
onion2020 = dfso[6]
onion2021 = dfso[7]
onion2022 = dfso[8]
onion2023 = dfso[9]
onion2024 = dfso[10]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
구분,평균,평년,서울,서울,부산,대구,인천,광주,대전,울산,수원,춘천,청주,전주,순천,포항,창원,제주
Unnamed: 1,평균,평년,경동,복조리,부전,칠성,현대,양동,역전,신정,지동,중앙,육거리,남부,역전,죽도,상남,동문
01월 02일,"5,150","5,106","6,000","6,330","4,950","5,000","5,000","5,160","5,000","5,400","5,330","5,000","5,000","5,000","5,000","4,330","4,900","5,000"
01월 03일,"5,150","5,107","6,000","6,330","4,950","5,000","5,000","5,160","5,000","5,400","5,330","5,000","5,000","5,000","5,000","4,330","4,900","5,000"
01월 04일,"5,150","5,107","6,000","6,330","4,950","5,000","5,000","5,160","5,000","5,400","5,330","5,000","5,000","5,000","5,000","4,330","4,900","5,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
03월 25일,"5,344","5,241","5,330","6,080","5,370","5,660","5,660","5,330","5,000","5,430","5,330","5,000","5,330","5,330","5,330","5,000","5,000","5,330"
03월 26일,"5,344","5,248","5,330","6,080","5,370","5,660","5,660","5,330","5,000","5,430","5,330","5,000","5,330","5,330","5,330","5,000","5,000","5,330"
03월 27일,"5,344","5,257","5,330","6,080","5,370","5,660","5,660","5,330","5,000","5,430","5,330","5,000","5,330","5,330","5,330","5,000","5,000","5,330"
03월 28일,"5,324","5,263","5,330","6,080","5,370","5,330","5,660","5,330","5,000","5,430","5,330","5,000","5,330","5,330","5,330","5,000","5,000","5,330"
03월 29일,"5,324","5,263","5,330","6,080","5,370","5,330","5,660","5,330","5,000","5,430","5,330","5,000","5,330","5,330","5,330","5,000","5,000","5,330"