In [21]:
import pandas as pd

# 리스트로 데이터 프레임 한번에 불러오기
# 고구마
root = "/Users/kangtaeyoung/Desktop/python/연어초밥/data/"
dfssp = []
year = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
for i in year:
    df = pd.read_csv(root + "고구마_%d.csv" % i, encoding='utf-8')
    dfssp.append(df)

for i in range(11):  # 데이터프레임 한번에 전처리
    dfssp[i] = dfssp[i].replace('-', 0)
    dfssp[i] = dfssp[i].fillna(method='ffill')
    dfssp[i] = dfssp[i].transpose()
    dfssp[i] = dfssp[i].fillna(method='ffill')
    new_header = dfssp[i].iloc[0]
    dfssp[i].columns = new_header
    dfssp[i] = dfssp[i][2:]
    dfssp[i] = dfssp[i].replace(',','')
 #   dfssp[i].reset_index(drop=True, inplace=True)

In [22]:
# 리스트로 데이터 프레임 한번에 불러오기
# 사과
root = "/Users/kangtaeyoung/Desktop/python/연어초밥/data/"
dfsa = []
year = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
for i in year:
    df = pd.read_csv(root + "사과_%d.csv" % i, encoding='utf-8')
    dfsa.append(df)

for i in range(11):  # 데이터프레임 한번에 전처리
    dfsa[i] = dfsa[i].replace('-', 0)
    dfsa[i] = dfsa[i].fillna(method='ffill')
    dfsa[i] = dfsa[i].transpose()
    dfsa[i] = dfsa[i].fillna(method='ffill')
    new_header = dfsa[i].iloc[0]
    dfsa[i].columns = new_header
    dfsa[i] = dfsa[i][2:]
    dfsa[i] = dfsa[i].replace(',','')

In [23]:
# 리스트로 데이터 프레임 한번에 불러오기
# 양파
root = "/Users/kangtaeyoung/Desktop/python/연어초밥/data/"
dfso = []
year = [2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
for i in year:
    df = pd.read_csv(root + "양파_%d.csv" % i, encoding='utf-8')
    dfso.append(df)

for i in range(11):  # 데이터프레임 한번에 전처리
    dfso[i] = dfso[i].replace('-', 0)
    dfso[i] = dfso[i].fillna(method='ffill')
    dfso[i] = dfso[i].transpose()
    dfso[i] = dfso[i].fillna(method='ffill')
    new_header = dfso[i].iloc[0]
    dfso[i].columns = new_header
    dfso[i] = dfso[i][2:]
    dfso[i] = dfso[i].replace(',','')

In [24]:
# 가격 데이터프레임 결측치 제거
for n in range(10):
    for i in range(18):
        dfssp[n].iloc[i] = dfssp[n].iloc[i].str.replace(',','').astype(float)
    dfssp[n] = dfssp[n].fillna(0)
        
for n in range(10):
    for i in range(18):
        dfso[n].iloc[i] = dfso[n].iloc[i].str.replace(',','').astype(float)
    dfso[n] = dfso[n].fillna(0)
    
for n in range(10):
    for i in range(18):
        dfsa[n].iloc[i] = dfsa[n].iloc[i].str.replace(',','').astype(float)
    dfsa[n] = dfsa[n].fillna(0)   
    
onion2014 = dfso[0]
onion2015 = dfso[1]
onion2016 = dfso[2]
onion2017 = dfso[3]
onion2018 = dfso[4]
onion2019 = dfso[5]
onion2020 = dfso[6]
onion2021 = dfso[7]
onion2022 = dfso[8]
onion2023 = dfso[9]
onion2024 = dfso[10]

apple2014 = dfsa[0]
apple2015 = dfsa[1]
apple2016 = dfsa[2]
apple2017 = dfsa[3]
apple2018 = dfsa[4]
apple2019 = dfsa[5]
apple2020 = dfsa[6]
apple2021 = dfsa[7]
apple2022 = dfsa[8]
apple2023 = dfsa[9]
apple2024 = dfsa[10]

spotato2014 = dfssp[0]
spotato2015 = dfssp[1]
spotato2016 = dfssp[2]
spotato2017 = dfssp[3]
spotato2018 = dfssp[4]
spotato2019 = dfssp[5]
spotato2020 = dfssp[6]
spotato2021 = dfssp[7]
spotato2022 = dfssp[8]
spotato2023 = dfssp[9]
spotato2024 = dfssp[10]

In [25]:
# 물가상승률(고구마, 사과, 양파) 가져오기
inflation = pd.read_csv(root + '물가상승률.csv')
# 고구마
inflation_sp = pd.DataFrame(inflation.loc[0])
inflation_sp.drop(inflation_sp.index[:2], axis = 0, inplace = True)

# 사과
inflation_a = pd.DataFrame(inflation.loc[1])
inflation_a.drop(inflation_a.index[:2], axis = 0, inplace = True)

# 양파
inflation_o = pd.DataFrame(inflation.loc[2])
inflation_o.drop(inflation_o.index[:2], axis = 0, inplace = True)

In [26]:
# 물가상승률
# 고구마2021
a = []
for i in range(248):
    b = 108.4
    a.append(b)
df_a = pd.DataFrame(a)
spotato2021 = pd.concat([spotato2021.reset_index(), df_a], axis = 1)
spotato2021 = spotato2021.rename(columns = {0 : 'inflation'})
spotato2021 = spotato2021.set_index('index')

# 고구마2022
a = []
for i in range(246):
    b = 84.86
    a.append(b)
df_a = pd.DataFrame(a)
spotato2022 = pd.concat([spotato2022.reset_index(), df_a], axis = 1)
spotato2022 = spotato2022.rename(columns = {0 : 'inflation'})
spotato2022 = spotato2022.set_index('index')

# 고구마 2023
a = []
for i in range(246):
    b = 91.76
    a.append(b)
df_a = pd.DataFrame(a)
spotato2023 = pd.concat([spotato2023.reset_index(), df_a], axis = 1)
spotato2023 = spotato2023.rename(columns = {0 : 'inflation'})
spotato2023 = spotato2023.set_index('index')

# 양파 2021
a = []
for i in range(248):
    b = 118.45
    a.append(b)
df_a = pd.DataFrame(a)
onion2021 = pd.concat([onion2021.reset_index(), df_a], axis = 1)
onion2021 = onion2021.rename(columns = {0 : 'inflation'})
onion2021 = onion2021.set_index('index')

# 양파 2022
a = []
for i in range(246):
    b = 102.36
    a.append(b)
df_a = pd.DataFrame(a)
onion2022 = pd.concat([onion2022.reset_index(), df_a], axis = 1)
onion2022 = onion2022.rename(columns = {0 : 'inflation'})
onion2022 = onion2022.set_index('index')

# 양파 2023
a = []
for i in range(246):
    b = 127.11
    a.append(b)
df_a = pd.DataFrame(a)
onion2023 = pd.concat([onion2023.reset_index(), df_a], axis = 1)
onion2023 = onion2023.rename(columns = {0 : 'inflation'})
onion2023 = onion2023.set_index('index')

# 사과 2021
a = []
for i in range(248):
    b = 103.56
    a.append(b)
df_a = pd.DataFrame(a)
apple2021 = pd.concat([apple2021.reset_index(), df_a], axis = 1)
apple2021 = apple2021.rename(columns = {0 : 'inflation'})
apple2021 = apple2021.set_index('index')

# 사과 2022
a = []
for i in range(246):
    b = 94.42
    a.append(b)
df_a = pd.DataFrame(a)
apple2022 = pd.concat([apple2022.reset_index(), df_a], axis = 1)
apple2022 = apple2022.rename(columns = {0 : 'inflation'})
apple2022 = apple2022.set_index('index')

# 사과 2023
a = []
for i in range(246):
    b = 109.06
    a.append(b)
df_a = pd.DataFrame(a)
apple2023 = pd.concat([apple2023.reset_index(), df_a], axis = 1)
apple2023 = apple2023.rename(columns = {0 : 'inflation'})
apple2023 = apple2023.set_index('index')

In [27]:
# 가까운 지역  추출 + 평균
_list1 = [spotato2021, spotato2022, spotato2023]
a1 = []
for i in _list1:
    i = i.loc[:,['평균', '광주', '수원', '대전', '전주', 'inflation']]
    a1.append(i)
    
_list2 = [onion2021, onion2022, onion2023]    
a2 = []
for i in _list2:
    i = i.loc[:, ['평균', '광주', '창원', 'inflation']]
    a2.append(i)
    
_list3 = [apple2021, apple2022, apple2023]    
a3 = []
for i in _list3:
    i = i.loc[:, ['평균', '수원', '대구', 'inflation']]
    a3.append(i)

In [28]:
# 리스트로 받아왔던 합친 프레임을 개별 프레임으로 변환
spotato2021 = a1[0]
spotato2022 = a1[1]
spotato2023 = a1[2]

onion2021 = a2[0]
onion2022 = a2[1]
onion2023 = a2[2]

apple2021 = a3[0]
apple2022 = a3[1]
apple2023 = a3[2]

In [29]:
# 날씨 데이터 불러오기
appleweather = pd.read_csv(root + '사과날씨.csv', encoding = 'cp949')
onionweather = pd.read_csv(root + '양파날씨.csv', encoding = 'cp949')
spotatoweather = pd.read_csv(root + '고구마날씨.csv', encoding = 'cp949')

In [30]:
appleweather

,Unnamed: 0,no,stn_Code,stn_Name,date,temp,max_Temp,min_Temp,hum,widdir,wind,rain,sun_Time,sun_Qy,condens_Time,gr_Temp,soil_Temp,soil_Wt
0,0.0,1.0,760380A001,안동시 송천동,2021.1.1,-4.0,1.9,-10.7,65.2,271.9,0.7,0.0,494.0,9.1,0.0,-4.4,1.35,15.9
1,1.0,2.0,760380A001,안동시 송천동,2021.1.2,-4.0,2.0,-10.3,55.8,266.3,0.9,0.0,503.0,9.8,0.0,-4.6,1.27,15.4
2,2.0,3.0,760380A001,안동시 송천동,2021.1.3,-3.3,2.3,-9.3,41.3,267.1,1.1,0.0,446.0,8.8,0.0,-4.2,1.13,14.1
3,3.0,4.0,760380A001,안동시 송천동,2021.1.4,-4.5,4.2,-11.1,61.2,270.5,0.4,0.0,497.0,8.8,0.0,-4.9,1.03,13.3
4,4.0,5.0,760380A001,안동시 송천동,2021.1.5,-2.8,1.8,-9.0,48.2,268.4,0.9,0.0,486.0,8.4,0.0,-3.4,1.08,13.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# 날씨 데이터 슬라이싱(년도별)
# 사과
## 안동
applewt2021_ahndong = appleweather.loc[0:364, :]
applewt2022_ahndong = appleweather.loc[365:729, :]
applewt2023_ahndong = appleweather.loc[730:1094, :]

## 청송
applewt2021_chungsong = appleweather.loc[1095:1459, :]
applewt2021_chungsong = appleweather.loc[1460:1824, :]
applewt2021_chungsong = appleweather.loc[1825:2189, :]

## 영주
applewt2021_youngju = appleweather.loc[2190:2554, :]
applewt2022_youngju = appleweather.loc[2555:2889, :]
applewt2023_youngju = appleweather.loc[2590:3254, :]

##

In [32]:
applewt2023_ahndong

,Unnamed: 0,no,stn_Code,stn_Name,date,temp,max_Temp,min_Temp,hum,widdir,wind,rain,sun_Time,sun_Qy,condens_Time,gr_Temp,soil_Temp,soil_Wt
730,730.0,1.0,760380A001,안동시 송천동,2023.1.1,-1.2,7.4,-8.4,60.0,265.9,0.5,0.0,437.0,8.2,0.0,-1.5,0.82,14.3
731,731.0,2.0,760380A001,안동시 송천동,2023.1.2,-3.4,3.7,-10.4,47.0,270.2,0.4,0.0,497.0,9.6,0.0,-3.3,0.79,13.9
732,732.0,3.0,760380A001,안동시 송천동,2023.1.3,-4.8,4.3,-12.5,53.5,274.2,0.3,0.0,523.0,10.0,0.0,-4.6,0.59,12.2
733,733.0,4.0,760380A001,안동시 송천동,2023.1.4,-3.2,5.6,-10.7,53.0,265.7,0.4,0.0,520.0,9.3,0.0,-3.2,0.44,11.3
734,734.0,5.0,760380A001,안동시 송천동,2023.1.5,-3.3,5.9,-10.7,69.4,266.0,0.2,0.0,436.0,8.7,0.0,-3.3,0.42,11.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1090.0,27.0,760380A001,안동시 송천동,2023.12.27,0.9,9.1,-3.8,74.6,260.7,0.1,0.0,478.0,8.6,0.0,0.3,1.82,22.0
1091,1091.0,28.0,760380A001,안동시 송천동,2023.12.28,-0.2,8.1,-5.9,76.4,276.8,0.3,0.0,321.0,6.8,0.0,-0.6,1.98,22.6
1092,1092.0,29.0,760380A001,안동시 송천동,2023.12.29,-0.6,7.4,-6.2,78.6,267.4,0.3,0.0,426.0,8.5,0.0,-1.1,2.06,22.6
1093,1093.0,30.0,760380A001,안동시 송천동,2023.12.30,0.4,4.9,-4.9,83.1,NaN,0.0,0.0,76.0,3.9,0.0,0.1,2.13,22.7
1094,1094.0,31.0,760380A001,안동시 송천동,2023.12.31,3.4,7.4,-0.7,85.6,271.8,0.4,0.5,167.0,5.3,737.0,3.1,2.44,23.9

In [33]:
apple2021 = apple2021.iloc[:205]

In [34]:
apple2021 = apple2021.replace('월', '-')

In [35]:
apple2021 = apple2021.reset_index()

In [36]:
apple2021

       index       평균       수원      대구       대구  inflation
0    01월 04일  27347.0  25000.0       0  25000.0     103.56
1    01월 05일  27347.0  25000.0       0  25000.0     103.56
2    01월 06일  27447.0  25000.0       0  25000.0     103.56
3    01월 07일  27447.0  25000.0       0  25000.0     103.56
4    01월 08일  27447.0  25000.0       0  25000.0     103.56
..       ...      ...      ...     ...      ...        ...
200  12월 27일   26,153   30,300  28,500        0     103.56
201  12월 28일   26,153   30,300  28,500        0     103.56
202  12월 29일   26,224   30,300  28,500        0     103.56
203  12월 30일   26,224   30,300  28,500        0     103.56
204  12월 31일   26,324   30,300  28,500        0     103.56

[205 rows x 6 columns]

In [37]:
apple2021['index'] = apple2021['index'].str.replace('월 ', '-')
apple2021['index'] = apple2021['index'].str.replace('일', '')
apple2021 = apple2021.rename(columns = {'index' : 'date'})
apple2021 = apple2021.set_index('date')
apple2021

            평균       수원      대구       대구  inflation
date
01-04  27347.0  25000.0       0  25000.0     103.56
01-05  27347.0  25000.0       0  25000.0     103.56
01-06  27447.0  25000.0       0  25000.0     103.56
01-07  27447.0  25000.0       0  25000.0     103.56
01-08  27447.0  25000.0       0  25000.0     103.56
...        ...      ...     ...      ...        ...
12-27   26,153   30,300  28,500        0     103.56
12-28   26,153   30,300  28,500        0     103.56
12-29   26,224   30,300  28,500        0     103.56
12-30   26,224   30,300  28,500        0     103.56
12-31   26,324   30,300  28,500        0     103.56

[205 rows x 5 columns]

In [38]:
applewt2021['date'] = applewt2021['date'].str.replace('2021-', '')

NameError: name 'applewt2021' is not defined

In [ ]:
result = pd.concat([apple2021, applewt2021], axis = 1)

In [ ]:
result